@font-face {
  font-family: 'Glory';
  font-weight: 100;
  src: url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Glory';
  src: url('./assets/fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Glory';
  font-weight: 600;
  src: url('./assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Glory';
  font-weight: bold;
  src: url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Glory';
  font-weight: 900; /* or use '800' for "heavy" */
  src: url('./assets/fonts/Gilroy-Heavy.ttf') format('truetype');
}
